@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.wrapper{
  position: absolute;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  margin: 50px auto;
  background-color: #23252C;
}

.info__img{
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  background: url('./images/man.jpg');
  border-radius: 10px 10px 0px 0px;
}
.info__name{
position: absolute;
width: 178.06px;
height: 25.81px;
left: 186px;
top: 382px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}
.info__position{
  
position: absolute;
width: 178.06px;
height: 14.19px;
left: 186px;
top: 414px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12.8px;
line-height: 15px;
text-align: center;
color: #F3BF99;
}
.info__webpage{
  position: absolute;
width: 228px;
height: 16px;
left: 161px;
top: 437px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5;
}
.info__mail{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;

position: absolute;
width: 115px;
height: 34px;
left: 151px;
top: 468px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
box-sizing: border-box;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
transition: 0.3s;
}
.info__mail:hover{
  background-color: #000;
  color: white;
}
.fa-envelope{
  position: absolute;
left: 10%;
right: 10%;
top: 20%;
bottom: 20%;

background: #1E1F26;
}


.info__linkedin{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
position: absolute;
width: 115px;
height: 34px;
left: 283px;
top: 468px;
background: #5093E2;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
transition: 0.3s;
}
.info__linkedin:hover{
  background-color: #fff;
  color: #5093E2;
}
.about__title{
  position: absolute;
width: 242.71px;
height: 21px;
left: 151px;
top: 535px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #F5F5F5;
}
.about__description{
  position: absolute;
width: 247px;
height: 61px;
left: 151px;
top: 561px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10.24px;
line-height: 150%;
/* or 15px */


color: #DCDCDC;
}

.interest__title{
  position: absolute;
width: 242.71px;
height: 21px;
left: 151px;
top: 649px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;

color: #F5F5F5;
}
.interest__description{
position: absolute;
width: 247px;
height: 61px;
left: 151px;
top: 675px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
}
.footer{
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__description{
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.footer:hover{
  background:#5093E2 ;
}